body{
    background-image: url('assets/bg_climate.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.align{
    margin-left: 190px;
    margin-top: 10px;
    margin-bottom: 3px;
}
.cback{
    background-image: url('assets/card_back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 600px; */
}
button{
    margin-left: 230px;
    margin-right: 230px;
    text-align: center;
}
#weather{
    text-align: center;
}